
<h3>新規作成</h3><br/>

{% if form.has_errors %}
    {% for field in form.fields %}

        {% if field.error %}
            {{ field.error }}
        {% endif %}

    {% endfor %}
{% endif %}

<div class="validation">
    <form action="." method="post" accept-charset="utf-8">
        <label for="id_title">タイトル</label>{{ form.title }}
        {% if form.title.errors %} <p><error> {{ form.title.errors|join:", "}}</error></p>{% endif %}<br/><br/>
        <label for="id_content">内容</label>{{ form.content }}
        {% if form.content.errors %} <p><error>  {{ form.content.errors|join:", "}}</error></p><br/><br/>{% endif %}
        <p><input type="submit" value="保存" /></p><br/>
    </form>
</div>


<div class="operation">
    <a href="/entries/">一覧に戻る</a>
</div>