
{% extends "./base.html" %}

{% load comments %}

{% block content %}

    <dt>
        タイトル: {{ object.title }} <br/>
        本文: {{ object.body }} <br/>
    </dt>

    <br/>

    <dd class="operation">
        <a href="/entries/update/{{ object.id }}">編集</a>
        <a href="/entries/delete/{{ object.id }}">削除</a>
        <a href="/entries/page/1/">一覧に戻る</a>
    </dd>

    <hr/>

    {% get_comment_list for object as comment_list %}
    {% for comment in comment_list %}
        {{ comment.user_name }}  <br/>
        {{ comment.submit_date }}  <br/>
        {{ comment.comment }} <br/>
        <br/>
    {% endfor %}

    <br/><hr/>

    {% render_comment_form for object %}

    <hr/>

{% endblock %}